h2{
    color:yellow;
    background-color: red;
}
h1{
    background-color: white;
}
#container{
    color: yellow;
}
.accent{
    background-color: yellow;
    color: grey;
}

body main div{
    color: white;
}

footer{

    background-color: rgb(26, 170, 163);
    color: #ac12e9;
}